* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: relative;
    left: 500px;
    top: 200px;
}
#container p {
    text-align: center;
}
#display {
    margin: 0 5px 15px 5px;
    border: 1px solid black;
    width: 290px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
}
#display p {
    margin: 2px;
    text-align: right;
}
.calculator-btn {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px; 
    margin-left: 20px;  
}
.btn {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    border-style: none;
    box-shadow: 1px 1px 1px whitesmoke;
}
#equal {
height: 120px;
}
#zero {
    position: absolute;
    bottom: 50px;
    width: 120px;
}
#decimal {
    position: absolute;
    bottom:  50px;
    right: 90px;
}
.btn-operator {
    background-color: coral;
}
